/* ProjectsOverviewDashboard.css */
.projects-overview-dashboard {
    margin: 20px auto;
  }
  
  .website-usage {
    margin-top: 50px;
  }
  
  .website-usage ul {
    list-style-type: none;
    padding: 0;
  }
  
  .website-usage li {
    margin-bottom: 10px;
  }
  
  .website-usage a {
    text-decoration: none;
    color: #007bff;
  }
  
  .website-usage a:hover {
    text-decoration: underline;
  }
  